
/* Header/logo Title */
.header {
    padding: 10px;
    text-align: center;
    background-image: url(Images/BlackBoard.jpg);
    color: white;
  }
/* CUERPO DE LA PÁGINA
/*
/* Determina el estilo del cuerpo principal de la página web*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1abc9c;
    /*background-color:#b4b0f5;*/
    margin: 0;
  }

/* BARRA DE NAVEGACIÓN
/*
/* Barra de navegación */
/* Determina el estilo del bloque (topbar), fondo negro */
.topbar {
  overflow: hidden;
  /* Overflow determina el comportamiento cuando el texto no cabe, hidden hace que se corte el texto */
  background-color: white;
  display: flex;
  margin: 0 auto;
}
/* Determina el estilo de los bloques en los enlaces */
.topbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 15px;
}
/* Determina el estilo de los enlaces al pasar por ellos*/
.topbar a:hover {
  background-color: #ddd;
  color: black;
}
/*Crea la clase "a.active" que simula cuando un enlace está activo*/
.topbar a.active {
  background-color: black;
  color: white;
}

/* ESTILO DEL "PERSONAL INFORMAFION"*/ 
.PersonalInfo{
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    margin-top: 50px;
    width: 1300px;
    column-gap: 80px;
}

/* ESTILO DEL "PUBLICATIONS"*/
.Publications{
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  margin-top: 50px;
  width: 1300px;
  column-gap: 80px;
}



